<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ranking</title>
</head>
<body>
  <nav>
    <ul>
      <li>Ranking</li>
      <li><a href="/summary">Summary</a></li>
    </ul>
  </nav>

  <h1>Player Ranking</h1>
  <ul>
    <%= for {nickname, kills} <- ranking do %>
      <li><%= nickname %> => <%= kills %></li>
    <% end %>
  </ul>
</body>
</html>